AppData Companion/AppData companion/Service References/Tridion/CoreService2011.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sdltridion.com/ContentManager/CoreService/2011" elementFormDefault="qualified" targetNamespace="http://www.sdltridion.com/ContentManager/CoreService/2011" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://train1/webservices/CoreService2011.svc?xsd=xsd1" namespace="http://www.sdltridion.com/ContentManager/R6" />
  <xs:import schemaLocation="http://train1/webservices/CoreService2011.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://train1/webservices/CoreService2011.svc?xsd=xsd4" namespace="http://www.sdltridion.com/Security" />
  <xs:import schemaLocation="http://train1/webservices/CoreService2011.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetApiVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApiVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetApiVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetCurrentUserResult" nillable="true" type="q1:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistingObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsExistingObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsExistingObjectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTcmUri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="baseUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contextRepositoryUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTcmUriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetTcmUriResult" nillable="true" type="q2:TcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Read">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q3:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReadResult" nillable="true" type="q4:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSchemaFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schemaId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expandEmbeddedFields" type="xs:boolean" />
        <xs:element xmlns:q5="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q5:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadSchemaFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReadSchemaFieldsResult" nillable="true" type="q6:SchemaFieldsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertSchemaFieldsToXsd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="schemaFieldsData" nillable="true" type="q7:SchemaFieldsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertSchemaFieldsToXsdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertSchemaFieldsToXsdResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="deltaData" nillable="true" type="q8:IdentifiableObjectData" />
        <xs:element xmlns:q9="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q9:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="SaveResult" nillable="true" type="q10:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaxonomyNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="deleteTaxonomyNodeMode" type="q11:DeleteTaxonomyNodeMode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaxonomyNodeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="itemType" type="q12:ItemType" />
        <xs:element minOccurs="0" name="containerId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetDefaultDataResult" nillable="true" type="q13:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Move">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationId" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q14:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="MoveResult" nillable="true" type="q15:RepositoryLocalObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Copy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destinationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="makeUnique" type="xs:boolean" />
        <xs:element xmlns:q16="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q16:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CopyResult" nillable="true" type="q17:RepositoryLocalObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schemaId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="containerItemId" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q18:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstanceDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetInstanceDataResult" nillable="true" type="q19:InstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q20:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="TryCheckOutResult" nillable="true" type="q21:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="permanentLock" type="xs:boolean" />
        <xs:element xmlns:q22="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q22:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CheckOutResult" nillable="true" type="q23:VersionedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q24:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CheckInResult" nillable="true" type="q25:VersionedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="deltaData" nillable="true" type="q26:IdentifiableObjectData" />
        <xs:element xmlns:q27="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q27:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UpdateResult" nillable="true" type="q28:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="data" nillable="true" type="q29:IdentifiableObjectData" />
        <xs:element xmlns:q30="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q30:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CreateResult" nillable="true" type="q31:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="permanentLock" type="xs:boolean" />
        <xs:element xmlns:q32="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q32:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UndoCheckOutResult" nillable="true" type="q33:VersionedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rollback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="id" nillable="true" type="q34:TcmUri" />
        <xs:element minOccurs="0" name="deleteVersions" type="xs:boolean" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q35:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollbackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="RollbackResult" nillable="true" type="q36:VersionedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Localize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q37:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocalizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="LocalizeResult" nillable="true" type="q38:RepositoryLocalObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLocalize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q39:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLocalizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UnLocalizeResult" nillable="true" type="q40:RepositoryLocalObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTemplateTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="itemType" nillable="true" type="q41:ItemType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTemplateTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListTemplateTypesResult" nillable="true" type="q42:ArrayOfTemplateType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublicationTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublicationTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListPublicationTypesResult" nillable="true" type="q43:ArrayOfPublicationType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemWideListXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q44:SystemWideListFilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemWideListXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSystemWideListXmlResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemWideList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q45:SystemWideListFilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemWideListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSystemWideListResult" nillable="true" type="q46:ArrayOfIdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q47:SubjectRelatedListFilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListXmlResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q48="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q48:SubjectRelatedListFilterData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListResult" nillable="true" type="q49:ArrayOfIdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetListDirectoryServiceNamesResult" nillable="true" type="q50:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListWindowsDomainUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListWindowsDomainUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://www.sdltridion.com/Security" minOccurs="0" name="GetListWindowsDomainUsersResult" nillable="true" type="q51:ArrayOfWindowsUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directoryServiceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://www.sdltridion.com/Security" minOccurs="0" name="GetListDirectoryServiceAllUsersResult" nillable="true" type="q52:ArrayOfDirectoryServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceGroupMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directoryServiceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="groupDN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceGroupMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://www.sdltridion.com/Security" minOccurs="0" name="GetListDirectoryServiceGroupMembersResult" nillable="true" type="q53:ArrayOfDirectoryServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="directoryServiceName" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://www.sdltridion.com/Security" minOccurs="0" name="filter" nillable="true" type="q54:DirectoryUsersFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListDirectoryServiceUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://www.sdltridion.com/Security" minOccurs="0" name="GetListDirectoryServiceUsersResult" nillable="true" type="q55:ArrayOfDirectoryServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Classify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIds" nillable="true" type="q56:ArrayOfstring" />
        <xs:element xmlns:q57="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q57:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ClassifyResult" nillable="true" type="q58:ClassificationInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnClassify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIds" nillable="true" type="q59:ArrayOfstring" />
        <xs:element xmlns:q60="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q60:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnClassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UnClassifyResult" nillable="true" type="q61:ClassificationInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReClassify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIdsToRemove" nillable="true" type="q62:ArrayOfstring" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="keywordIdsToAdd" nillable="true" type="q63:ArrayOfstring" />
        <xs:element xmlns:q64="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q64:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReClassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReClassifyResult" nillable="true" type="q65:ClassificationInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q66="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q66:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="StartActivityResult" nillable="true" type="q67:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q68="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q68:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="SuspendActivityResult" nillable="true" type="q69:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q70="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q70:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestartActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="RestartActivityResult" nillable="true" type="q71:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAssignActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newAssigneeId" nillable="true" type="xs:string" />
        <xs:element xmlns:q72="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readBackOptions" nillable="true" type="q72:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReAssignActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReAssignActivityResult" nillable="true" type="q73:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activityInstanceId" nillable="true" type="xs:string" />
        <xs:element xmlns:q74="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="activityFinishData" nillable="true" type="q74:ActivityFinishData" />
        <xs:element xmlns:q75="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q75:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="FinishActivityResult" nillable="true" type="q76:ActivityInstanceData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceFinishProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processInstanceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="approvalStatusId" nillable="true" type="xs:string" />
        <xs:element xmlns:q77="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q77:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ForceFinishProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ForceFinishProcessResult" nillable="true" type="q78:ProcessHistoryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListQueueMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queueId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListQueueMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListQueueMessagesResult" nillable="true" type="q79:ArrayOfQueueMessageData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListQueues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListQueuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListQueuesResult" nillable="true" type="q80:ArrayOfQueueData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadApplicationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReadApplicationDataResult" nillable="true" type="q81:ApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllApplicationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReadAllApplicationDataResult" nillable="true" type="q82:ArrayOfApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string" />
        <xs:element xmlns:q83="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="applicationData" nillable="true" type="q83:ArrayOfApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveApplicationDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subjectId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteApplicationDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApplicationIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetApplicationIdsResult" nillable="true" type="q84:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PurgeApplicationDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q85:ArrayOfstring" />
        <xs:element xmlns:q86="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="resolveInstruction" nillable="true" type="q86:ResolveInstructionData" />
        <xs:element xmlns:q87="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="targets" nillable="true" type="q87:ArrayOfstring" />
        <xs:element xmlns:q88="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q88:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolveItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ResolveItemsResult" nillable="true" type="q89:ArrayOfPublishContextData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q90:SearchQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsXmlResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsXmlPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q91:SearchQueryData" />
        <xs:element minOccurs="0" name="startRowIndex" type="xs:int" />
        <xs:element minOccurs="0" name="maxRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsXmlPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSearchResultsXmlPagedResult" nillable="true">
          <xs:complexType>
            <xs:sequence>
              <xs:any minOccurs="0" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q92:SearchQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSearchResultsResult" nillable="true" type="q93:ArrayOfIdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="filter" nillable="true" type="q94:SearchQueryData" />
        <xs:element minOccurs="0" name="startRowIndex" type="xs:int" />
        <xs:element minOccurs="0" name="maxRows" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchResultsPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSearchResultsPagedResult" nillable="true" type="q95:ArrayOfIdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="templateId" nillable="true" type="xs:string" />
        <xs:element xmlns:q96="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="publishInstruction" nillable="true" type="q96:PublishInstructionData" />
        <xs:element minOccurs="0" name="publicationTargetId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenderItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="RenderItemResult" nillable="true" type="q97:RenderedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Publish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q98:ArrayOfstring" />
        <xs:element xmlns:q99="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="publishInstruction" nillable="true" type="q99:PublishInstructionData" />
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="targets" nillable="true" type="q100:ArrayOfstring" />
        <xs:element xmlns:q101="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="priority" nillable="true" type="q101:PublishPriority" />
        <xs:element xmlns:q102="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q102:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="PublishResult" nillable="true" type="q103:ArrayOfPublishTransactionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnPublish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q104:ArrayOfstring" />
        <xs:element xmlns:q105="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="unPublishInstruction" nillable="true" type="q105:UnPublishInstructionData" />
        <xs:element xmlns:q106="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="targets" nillable="true" type="q106:ArrayOfstring" />
        <xs:element xmlns:q107="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="priority" nillable="true" type="q107:PublishPriority" />
        <xs:element xmlns:q108="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="readOptions" nillable="true" type="q108:ReadOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnPublishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="UnPublishResult" nillable="true" type="q109:ArrayOfPublishTransactionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPublished">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publicationTargetId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isPublishedInContext" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPublishedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPublishedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemSnapshot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemSnapshotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetWorkItemSnapshotResult" nillable="true" type="q110:RenderedItemData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublishInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPublishInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetListPublishInfoResult" nillable="true" type="q111:ArrayOfPublishInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CastActions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numericActions" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CastActionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="CastActionsResult" nillable="true" type="q112:ActionFlags" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="data" nillable="true" type="q113:IdentifiableObjectData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateXmlResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidTridionWebSchemaXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="data" nillable="true" type="q114:SchemaData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsValidTridionWebSchemaXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsValidTridionWebSchemaXmlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectIdsWithApplicationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="applicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubjectIdsWithApplicationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSubjectIdsWithApplicationDataResult" nillable="true" type="q115:ArrayOfTcmUri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadApplicationDataForSubjectsIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="subjectIds" nillable="true" type="q116:ArrayOfstring" />
        <xs:element xmlns:q117="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="applicationIds" nillable="true" type="q117:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadApplicationDataForSubjectsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ReadApplicationDataForSubjectsIdsResult" nillable="true" type="q118:ApplicationDataDictionary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityDescriptorsForSubjectsIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="subjectIds" nillable="true" type="q119:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityDescriptorsForSubjectsIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="GetSecurityDescriptorsForSubjectsIdsResult" nillable="true" type="q120:SecurityDescriptorDataDictionary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBinaryContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadBinaryContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.microsoft.com/Message" name="DownloadBinaryContentResult" type="q121:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRenderedBinary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadRenderedBinaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.microsoft.com/Message" name="DownloadRenderedBinaryResult" type="q122:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.microsoft.com/Message" name="UploadContent" type="q123:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FilePath" nillable="true" type="xs:string" />
  <xs:element name="UploadBinaryByteArray">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadBinaryByteArrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadBinaryByteArrayResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Impersonate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImpersonateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="ImpersonateResult" nillable="true" type="q124:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateSessionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSessionIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSessionIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionContextData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://www.sdltridion.com/ContentManager/R6" minOccurs="0" name="appData" nillable="true" type="q125:ApplicationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionContextDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionTransactionTimeout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transactionTimeout" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionTransactionTimeoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>